/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

#define DEFAULT 0
#define NUMS    1
#define NAVS    2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R     |  T     |                                                                              |  Y     |  U      |  I    |  O   |   P      |   \       |
            // | SHIFT |  A  |  S  |  D   |  F     |  G     |                                                                              |  H     |  J      |  K    |  L   |   ;      |  SHIFT '  |
            // |  CTL  |  Z  |  X  |  C   |  V     |  B     |  RET NAVS      |   (                |  |       )             |   DEL NAVS    |  N     |  M      |  ,    |  .   |   /      |   - _     |
            //                     | GUI  | CMD    |  ALT   |  SPACE NUMS    |   [{               |  |       }]            |   BSP NUMS    |  TAB   | CMD     |  GUI  |
            bindings = <
            &kp ESC   &kp Q &kp W &kp E    &kp R    &kp T                                                                                   &kp Y    &kp U    &kp I     &kp O   &kp P    &kp BSLH
            &kp LSHFT &kp A &kp S &kp D    &kp F    &kp G                                                                                   &kp H    &kp J    &kp K     &kp L   &kp SEMI &mt RSHIFT SQT
            &kp LCTRL &kp Z &kp X &kp C    &kp V    &kp B    &lt NAVS RET     &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS &lt NAVS DEL    &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH &kp MINUS
                                  &kp LGUI &kp LCMD &kp LALT &lt NUMS SPACE   &kp LEFT_BRACKET        &kp RIGHT_BRACKET     &lt NUMS BSPC   &kp TAB  &kp RCMD &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp UP DOWN>;
        };

        numbers {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // | _ | _ |  !         |  @        |  &      | _   |                           | _   |  7  |  8    |  9   |     =         |   _ |
            // | _ | _ |  #         |  $        |  ~      | _   |                           | _   |  4  |  5    |  6   |     *         |   ` |
            // | _ | _ |  %         |  ^        |  _      | _   | _   | _ |     | _   | _   | _   |  1  |  2    |  3   |     +         |   _ |
            //                      |  _        |  _      | _   | _   | _ |     | _   | _   | _   |  0  |  _    |
            bindings = <
            &none &none &kp EXCL     &kp AT_SIGN &kp AMPS  &none                             &none &kp N7 &kp N8 &kp N9 &kp KP_EQUAL    &none
            &none &none &kp HASH     &kp DOLLAR  &kp TILDE &none                             &none &kp N4 &kp N5 &kp N6 &kp KP_MULTIPLY &kp GRAVE
            &none &none &kp PERCENT  &kp CARET   &none     &none &none &none     &none &none &none &kp N1 &kp N2 &kp N3 &kp KP_PLUS     &none
                                     &none       &none     &none &none &none     &none &none &none &kp N0 &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        navigation {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // | BT_CLR | F1  |  F2   |  F3      |  F4        | F5         |                                         | _      |  _      |  _  |  _      |   _   | _ |
            // | _      | _   |  _    |  _       |  _         | _          |                                         | l      |  d      |  u  |  r      |   _   | _ |
            // | _      | _   |  _    |  _       |  _         | _          |   _       |  _   |          | _   | _   | _      |  _      |  _  |  _      |   _   | _ |
            //                        |  BT_NXT  |  BT0       | BT1        | BT2       | BT3  |          | _   | _   | _      |  _      |  _  |
            bindings = <
            &bt BT_CLR  &kp F1 &kp F2 &kp F3     &kp F4       &kp F5                                                  &none    &none    &none  &none     &none &none
            &none       &none  &none  &none      &none        &none                                                   &kp LEFT &kp DOWN &kp UP &kp RIGHT &none &none
            &none       &none  &none  &none      &none        &none        &none        &none             &none &none &none    &none    &none  &none     &none &none
                                      &bt BT_NXT &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3      &none &none &none    &none    &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

    };
};
